<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Events List - RTO Attendance Tracker</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <h1 style="text-align: center;">Prefs</h1>

    <!-- Navigation Links -->
    <div class="navigation" style="text-align: center; margin-bottom: 20px;">
        <button onclick="window.location.href='/'" style="padding: 10px 20px;">Back to Calendar</button>
    </div>

    <!-- Prefs List -->
    
</body>
</html>
